<!DOCTYPE html>
<html>
  <head>
    <title>Cript tWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag     params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag  params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2 style="font-size:15px; font-weight:bold;">Brasil System - <%= params[:controller]%></h2>
    <%= yield %>
    <h2 style="font-size:15px; font-weight:bold;">Brasil System</h2>
    <script>$.notify("Funcionol!!", "success");</script>
  </body>
</html>
